@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --color-surface-base: hsl(var(--color-surface-base));
  --color-surface-muted: hsl(var(--color-surface-muted));
  --color-surface-strong: hsl(var(--color-surface-strong));
  --color-text-primary: hsl(var(--color-text-primary));
  --color-accent-danger: hsl(var(--color-accent-danger));
  --color-accent-success: hsl(var(--color-accent-success));
  --color-highlight: hsl(var(--color-highlight));
}

/* Variables */

:root {
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*Reset & root*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.transitions-activated {
  transition: background-color .1s, border-color .1s, color .1s, fill .1s, stroke .1s;
}

html {
  --color-surface-base: #f4f4f5;
  --color-surface-muted: #e5e5e5;
  --color-surface-strong: #c7c7c7;
  --color-text-primary: #383a42;
  --color-accent-danger: #bd3030;
  --color-accent-success: #2bb32b;
  --color-highlight: #acacac;
}

html.dark {
  --color-surface-base: #1e1e1e;
  --color-surface-muted: #3c3d3f;
  --color-surface-strong: #292929;
  --color-text-primary: #abb2bf;
  --color-accent-danger: #862f2f;
  --color-accent-success: #2e8f2e;
  --color-highlight: #fffbeb;
}

body, button, textarea {
  color: var(--color-text-primary);
  font-family: var(--font-main);
}

html, body {
  background: var(--color-surface-base);
  font-size: 18px;
  line-height: 1;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /* ou height: 100%; */
}

/*Custom resets*/

img {
  max-width: 100%;
}

main {
  @apply h-full grid w-9/10 max-w-200 m-auto p-4 ; 
}

/* Crafting */

.recipes-main {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;

  grid-template-areas: 
    'crafting items'
    'possible-craftings possible-craftings';
}

/* ItemPage */

.items-main.has-recipe {
  grid-template-columns: 240px 1fr 240px;
  grid-template-rows: auto 1fr;

  grid-template-areas: 
    'title title title'
    'item details craftings';

}

.items-main.no-recipe {
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas: 
    'title title'
    'item details';

}

/* Entities */

.entities-main {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;

  grid-template-areas: 
    'title title'
    'model details';
}

/* Error */

.main-error {
  height: fit-content;
}

@media (max-width: 768px) {
  .recipes-main {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;

    grid-template-areas: 
      'crafting'
      'items'
      'possible-craftings';
  }

  .items-main.has-recipe {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto auto;

    grid-template-areas: 
      'title'
      'item'
      'details'
      'craftings';
  }

  .items-main.no-recipe {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;

    grid-template-areas: 
      'title'
      'item'
      'details';
  }
}

.items-grid, .possible-craftings {
  scrollbar-color: var(--color-highlight) transparent;
}

.item {
  @apply relative rounded-xl flex items-center p-2 flex-col justify-between 
}

.shimmer {
	background: linear-gradient(
		90deg,
		var(--color-surface-strong) 30%,
		var(--color-surface-muted) 50%,
		var(--color-surface-strong) 70%
	);
	background-size: 400%;
	animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}